version: '3.7'

services:
    slim:
        image: php:7-alpine
        working_dir: /var/www
        command: php -S 0.0.0.0:8080 -t public
        environment: 
            - DB_HOSTNAME=mariadb
            - DB_DATABASE=slim_php
            - DB_USERNAME=slim
            - DB_PASSWORD=changeme
        depends_on:
            - mariadb
        ports:
            - 8080:8080
        networks:
            - slim-php-network
        volumes:
            - .:/var/www
            - logs:/var/www/logs
    
    mariadb:
        image: mariadb:10.4.12-bionic
        environment:
            MYSQL_ROOT_PASSWORD: changeme
            MYSQL_DATABASE: slim_php
            MYSQL_USER: slim
            MYSQL_PASSWORD: changeme
        ports:
            - "3306:3306"
        networks:
            - slim-php-network
        restart: on-failure
        volumes:
            - ${PWD}/mariadb:/var/lib/mysql
            # All scripts in docker-entrypoint-initdb.d/ are automatically
            # executed during container startup
            - ./database/db.sql:/docker-entrypoint-initdb.d/db.sql

networks:
    slim-php-network:

volumes:
    logs:
        driver: local